

<section class="bander">
  <div id="bander" class="container-fluid">
    <div classe="bandimg">
      <h2>« Seul on va plus vite, ensemble on va plus loin. »</h2>
    </div>

  </div>
</section>

<section id="prez1">
  <div class="container">
    <div class="divider"></div>
    <div class="row" id="para1">
      <h1>Avec KeepSharing, restez en alerte !</h1>
      <div id="p1">

        <p> &nbsp; Chacun a ses petites astuces pour faciliter son quotidiens et parfois le conseils d’un amis, les bons plans d’un voisins sont parfois la source d’opportunités immanquables. Grâce à KeepSharing, élargissez le champs des possibles en profitant des suggestions de l’ensemble de sa communauté.<br/>
  &nbsp;Rejoignez la famille keepsharing et vous ne manquerais jamais d’idée ou de bons plans sur tous les sujets qui vous intéressent.
       </p>
      </div>
    </div>
  </div>
</section>

<section id="prez2">
  <div class="container">
    <div class="divider"></div>
    <div class="row" id="para2">
      <div id="p2">
        <img src="assets/images/time-share.jpg" id="img1">
        <p>&nbsp; Le problème auquel vous
           faites face à certainement déjà était rencontré par d’autre alors profiter de lors expérience. Ainsi, vous aurez un avis sur l’exposition qui passe en ce moment près de chez vous, une idée de plats pour votre prochaine retrouvailles entre amis, une astuce déco ou même bien-être et tout ça d’un simple clic.</p>
      </div>
    </div>
  </div>
</section>

<section id="prez3">
  <div class="container">
    <div class="divider"></div>
    <div class="row" id="para3">
      <div id="p3">
        <p> &nbsp; La diversité des individus permet à chacun de se différencier par ses talent et ses savoir faire. Profitez des aptitudes que chacun des membres vous partage et enseignez les vôtres. KeepSharing par du principes que chacun d’entre nous peu apporté quelque aux autres. Accéder à de nombreuses expériences de chez vous gratuitement en échanges de ce que vous partagez avec nous. KeepSharing, c’est aussi une nouvelle façon d’apprendre ensemble. Basé sur le partage collaboratif d’idée et de connaissances, la communauté vous offre de nombreuses opportunités. </p>
        <img src="assets/images/guitare.jpg" id="img2">
      </div>
    </div>
  </div>
</section>

<section id="prez4">
  <div class="container">
  <div class="divider"></div>
    <div class="row" id="para4">
      <div id="p4">
      <img src="assets/images/table.jpg" id="img3">
      <p> &nbsp;Grâce à différents supports vous pourez vous lancer dans l’apprentissage de la guitare, de la comptabilité, du design,  de la photographie… Toutes les choses que vous n’aviez ni le temps ou l’argent d’entreprendre.</p>

      </div>
    </div>
  </div>
</section>