  
.row{
  margin: 300px 0 300px 0;
}
/*carree inscription*/
/*#sub{
  padding: 150px 0 150px 0;
}

#sub h1{
  font-family: "Lobster", sans-serif;
  color: #AAA;
  margin-bottom: 50px;
  text-align: center;

}
.form-check-label{
  margin-right: 10px;
}
.form-check{
  margin: 10px 0 10px 0;
}
#submit{
  margin-left: 41%;
  margin-top: 30px;
}

/*SECTION*/

/*#prez2{
  padding:0 0 70px 0;
}*/